body {
        font: 24px Helvetica;
        background: #999999;
        margin: 0;
        padding: 0;
    }

#main {
        min-height: 500px;
        margin: 0;
        padding: 0;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
    }
 
#main > article {
        margin: 0px;
        padding-left: 30px;
        padding-right: 25px;
        background: #9fc4c6;
        font-family: 'Katibeh', serif;
        /*background: #dddd88;*/
        /*flex: 3 0 40%;*/
        -webkit-flex: 3 0 40%;
        flex: 3 0 40%;
        /*flex: 1 0 200px;*/
        /*flex: 3 0 auto;*/
        order: 2;
       text-align: justify;
    }

h2 {
        text-align: center;
        font-size: 50px;
        padding-top: 40px;
        padding-bottom: 0px;
        margin-top: 0px;
    }

p {
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 25px;
    }

h1 {
       padding-top: 8px;
       margin: 0;
       font-family: 'Rakkas', cursive, serif;
    }
  
#main > aside {
        margin: 0px;
        padding: 10px;
       /* background: #ccccff;*/
        background: #bfd8d9;
        flex: 1 6 60%;
        /* flex: 1 0 60%;*/
        order: 3;
        overflow: hidden;          /* To limit carousel's width */
    }
 
header {
        /*background: coral; */
        background: #70a7a9;
        min-height: 10px;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        align-items: center;
        -webkit-flex-flow: column;
        flex-flow: column;
    }

header ul {
        list-style: none;
        display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
    }

li {
        margin-right: 40px;
    /*justify-content: space-around;*/
    }

a {
        text-decoration: none;
    }

ul li img {
        width: 34px;
        height: 34px;
        padding: 0;    
    }

footer {
       /* display: block;*/
        margin: 0px;
        padding: 10px;
        min-height: 100px;
        background: black;
       /* background: #ffeebb;*/
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
    }

.fitems {
       /* border-color: white;
        border-width: 1px;
        border-style: solid; */
        color: white;
        width: 300px;
        font-size: 20px;
        padding-top: 10px;
        line-height: 30px;
    }

#one {
        margin-right: auto;
    }

#one img {
        float: left;
        width: 100px;
        height: 100px;
    }

#two {
        margin-left: auto;
    }

#two img {
        float: left;
        width: 80px;
        height: 90px;
    }

#owl-example .item img{
        display: block;
        margin: auto;
        margin-top: 20px;
        width: 650px;
        height: 400px;
    }

h4 {
        font-size: 18px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
        padding: 0;
    }


/*----------Narrow screen----------*/

@media all and (max-width: 480px){
        #main, header ul {
        -moz-box-direction: column;
        -webkit-box-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flexbox-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

#main > article, #main > aside {
        /* Return them to document order */
        order: 0;
    }
  
#main > article {
        min-height: 50px;
        flex: none;
    }

header, footer {
        min-height: 50px;
        /*max-height: 50px;*/
    }

#main > aside {
        min-height: 50px;
        flex: none;
    }

li {
        /* padding-bottom: 10px;*/
        /* flex: 1 30px;*/
        flex: 30px;
    }

#owl-example .item img{
        display: block;
        margin: auto;
        margin-top: 40px;
        max-height: 300px;
        max-width: 300px;
    }

footer {
        -moz-box-direction: column;
        -webkit-box-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flexbox-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

#one {
        margin:auto;
        padding: auto;        
    }

#two {
        margin:auto;
        padding: auto;   
    }
}

/*----------Medium screen----------*/

@media all and (min-width: 481px) and (max-width: 800px){
#main{
        -moz-box-direction: column;
        -webkit-box-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flexbox-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;    
    }

#main > article, #main > aside {
        /* Return them to document order */
        order: 0;
        flex: none;
    }
  
header, footer {
        min-height: 50px;
    }

#main > aside {
        min-height: 100px;
        flex:none;
    }

#owl-example .item img {
        display: block;
        margin: auto;
        margin-top: 40px;
        min-width: 40px;
        height: auto;
    }

footer {
        /*flex-direction: row;*/
        -moz-box-direction: column;
        -webkit-box-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flexbox-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

#one {
        margin:auto;
        padding: auto;        
    }

#two {
        margin:auto;
        padding: auto;   
    }
}

/*----------Wide screen----------*/
    
@media all and (min-width: 801px){
#main > article, #main > aside {
        /* Return them to document order */
        order: 0;
    }
  
#main > aside {
        min-height: 50px;
    }
}